{% extends "base.html" %}

{% load permissions %}


{% block content %}

<div class="card p-3 mb-3">
    <form action="{% url 'schedule_view_filtered' %}" method="post">
        {% csrf_token %}
        <input type="text" name="day" placeholder="День" class="form-control mb-2">
        <input type="text" name="study" placeholder="Клас" class="form-control mb-2">
        <button class="btn btn-warning w-100">Фільтрувати</button>
    </form>
</div>


<form action="{% url 'schedule_view_filtered' %}" method="post">
    {% csrf_token %}
    <p>
        <input type="text" name="day" placeholder="Введіть назву дня тижня">
    </p>
    {% csrf_token %}
    <p>
        <input type="text" name="study" placeholder="Введіть номер класу">
    </p>
    <button class="btn btn-warning" type="submit">Вибрати</button>
</form>

{% if schedule %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Приміщення</th>
            <th>Посилання на онлайн урок</th>
            <th>День тижня</th>
            <th>Номер урок</th>
            <th>Клас</th>
            <th>Предмет</th>
            {% if request.user|has_permission:"CS" %}
            <th>Дії</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
{% for item in schedule %}
<tr>
    <td>{{ item.resource }}</td>
    <td>{{ item.meet_url }}</td>
    <td>{{ item.day }}</td>
    <td>{{ item.number }}</td>
    <td>{{ item.study }}</td>
    <td>{{ item.subject }}</td>


    {% if request.user|has_permission:"CS" %}
    <td>
        <p>
            <a href="{% url 'update_schedule' id=item.id %}" class="btn btn-warning">
                Оновити
            </a>
        </p>
        <p>
            <a href="{% url 'delete_schedule' id=item.id %}" class="btn btn-danger">
                Видалити
            </a>
        </p>
    </td>
    {% endif %}
</tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

{% if request.user|has_permission:"CS" and not schedule %}
<table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Приміщення</th>
                <th>Посилання на онлайн урок</th>
                <th>День тижня</th>
                <th>Номер урок</th>
                <th>Клас</th>
                <th>Предмет</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
    {% for item in schedule_all %}
    <tr>
        <td>{{ item.resource }}</td>
        <td>{{ item.meet_url }}</td>
        <td>{{ item.day }}</td>
        <td>{{ item.number }}</td>
        <td>{{ item.study }}</td>
        <td>{{ item.subject }}</td>

        <td>
            <p>
                <a href="{% url 'update_schedule' id=item.id %}" class="btn btn-warning">
                    Оновити
                </a>
            </p>
            <p>
                <a href="{% url 'delete_schedule' id=item.id %}" class="btn btn-danger">
                    Видалити
                </a>
            </p>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock content %}