{% load permissions %}

<ul class="nav flex-column list-unstyled">

  <li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">SchoolHub</a>
  </li>

  {% if request.user.is_authenticated %}

    <li class="nav-item">
      <a class="nav-link" href="{% url 'profile' %}">Профіль</a>
    </li>

    {% if request.user.profile and request.user|has_permission:"CB" %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_book' %}">Забронювати</a>
      </li>
    {% endif %}

    {% if request.user.profile and request.user|has_permission:"RB" %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'resource' %}">Список бронювань</a>
      </li>
    {% endif %}

    {% if request.user.profile and request.user|has_permission:"RS" %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule_view' %}">Розклад</a>
      </li>
    {% endif %}

    {% if request.user.profile and request.user|has_permission:"CS" %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_schedule' %}">Додати урок</a>
      </li>
    {% endif %}

    <li class="nav-item mt-3">
      <a class="nav-link text-danger" href="{% url 'logout_view' %}">Вихід</a>
    </li>

  {% else %}

    <li class="nav-item">
      <a class="nav-link" href="{% url 'sign_up' %}">Реєстрація</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'sign_in' %}">Вхід</a>
    </li>

  {% endif %}

</ul>

